@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.wrapper > * , .navbar {
    border: 1px solid black;
    background-color: #eee;
    border-radius: 10px;
    padding: 15px;
}


.container{
  display: inline-block;
  position: relative;
  z-index: 10;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "nav nav nav"
     "header header header"
    "leftSide main rightSide"
    "footer footer footer";
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 100px 125px 1fr 200px;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
}
.navbar {
  background-color: black;
}

#navbar {
    grid-area: nav;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
display: flex;
}
.logo {
display: inline-block;
}

.navLinks {
list-style: none;
}

.navItem a {
display: inline-block;
padding: .35em;
font-size: 1.5em;
text-decoration: none;
color: white;
}

.navItem:hover {
background-color: white;
border-radius: 10px;
}

.navItem:hover a {
color: darkgreen;
}

.logo img { 
width: 175px;
vertical-align: middle;
}
#mainHeader {
    grid-area: header;
    position: relative;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

#leftSide {
    grid-area: leftSide;
}

#mainContent {
    grid-area: main;
    height: 100vw;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: minmax(0,1fr) 200px;
    max-height: 680px;

}

#mainContent div {
  padding: .5em;
  position: relative;  /*to enable position absolute on text overlay*/
}

#mainContent div::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to top left, transparent 0% 50%, white 100% 50%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}


#mainContent h2 {
  position: absolute;
  top:20px;
  left: 20px;
}

#mainContent h3 {
  position: absolute;
  top: 60px;
  left: 20px;
  color:  	rgb(53, 52, 52);
}

#mainContent img {
  display: cover;
  overflow: hidden;
  width: 100%; 
  height: 100%;
  padding: 0;
  margin: 0;
}

.el1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.el2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.el3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
 
}
.el4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.el5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}


#rightSide {
    grid-area: rightSide;
}

#mainFooter {
    grid-area: footer;
}


.container {
    position: fixed;
    width: 100%;
}

